fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib
python-dotenv
pydantic
firebase-admin
pytest
httpx
python-multipart
alembic
docx2txt
PyPDF
spacy
docx2pdf
PyPDF2
python-docx
pydantic[email]
slowapi